<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Password=Aceindus@1299;Persist Security Info=True;User ID=indussms;Initial Catalog=indussms;Data Source=indussms.db.10717941.hostedresource.com"/>
    <!--<add key="SmsUsername" value="montessori"/>
    <add key="SmsPassword" value="Gani1525"/>-->
    <add key="SmsUsername" value="aceindus"/>
    <add key="SmsPassword" value="ACEINDUS9"/>
    <add key="siteurl" value="http://indussms.com/"/>
    <add key="ApplicationURL" value="http://www.indussms.com"/>
    <add key="ElasticUsername" value="ravi_iginc@yahoo.com"/>
    <add key="ElasticAPI" value="dc808cd8-512f-4f02-a6d6-9a2fc68ada01"/>
    <add key="owner" value="admin"/>
    <add key="sub owner" value="Web Admin"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="Microsoft.Office.Tools.Excel, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <!--<add assembly="Microsoft.Office.Tools, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <sessionState timeout="15"></sessionState>
    <trust level="Full" />
    <identity impersonate="false"/>
  </system.web>
</configuration>